@media all and (max-width: 1200px) {
	.header {
		height: 90px;
	}
	.header__logo img {
		width: 136px;
		height: 96px;
	}
	.header__slogan h3 {
		font-size: 20px;
	}
	.header__list li {
		font-size: 20px;
		padding: 20px 20px;
	}
	.slideshow {
		width: 900px;
		height: 500px;
	}
	.middle {
		/* z-index: 1; */
		position: relative;
		top: 250px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.btn {
		width: 5px;
		height: 5px;
	}
	.contact__header {
		height: 80px;
	}
	.contact h1 {
		font-size: 20px;
	}
	.main__info img {
		height: 320px;
		width: 360px;
	}
	iframe {
		height: 400px;
		width: 400px;
	}
	.main__info li {
		font-size: 15px;
	}
	/* extra css responsive */
	.hachixvn h3 {
		font-size: 15px;
	}
	.hachixvn h4 {
		font-size: 12px;
	}
	.company-info {
		font-size: 30px;
		padding-left: 7rem;
	}
	.company-greeting {
		font-size: 30px;
		padding-left: 7rem;
	}
	.company-services {
		font-size: 30px;
		padding-left: 7rem;
	}
	.greeting__paragraph h1 {
		font-size: 20px;
	}
	.greeting__paragraph p {
		font-size: 14px;
	}
	.greeting__image h3 {
		font-size: 16px;
	}
	.greeting__image p {
		font-size: 14px;
	}
}

@media all and (max-width: 800px) {
	.header {
		height: 70px;
	}
	.header__logo img {
		width: 100px;
		height: 80px;
	}
	.header__slogan h3 {
		font-size: 14px;
	}
	.header__list li {
		font-size: 14px;
		padding: 20px 20px;
	}
	.container__header h1 {
		font-size: 40px;
	}
	.avatar__name {
		font-size: 15px;
	}
}
